<h1 class="h1-b container pb-5">Portfolio</h1>
<div class="container">
    <div class="row justify-content-around align-content-center mb-5">
        <div class="content col-xl-3 bgbrown">
            <h3>WEB DESIGN</h3>
            <hr class="me-auto ms-auto">
        </div>
        <div class="content col-xl-3 bgblack">
            <h3>MOBILE DESIGN</h3>
            <hr class="me-auto ms-auto">
        </div>
        <div class="content col-xl-3 bgbrown">
            <h3>LOGO DESIGN</h3>
            <hr class="me-auto ms-auto">
        </div>
    </div>
    <div class="row justify-content-around align-content-center mb-5">
        <div class="content col-xl-3 bgblack">
            <h3>WEB APPLICATION DEVELOPMENT</h3>
            <hr class="me-auto ms-auto">
        </div>
        <div class="content col-xl-3 bgbrown">
            <h3>MOBILE APPLICATION DEVELOPMENT</h3>
            <hr class="me-auto ms-auto">
        </div>
        <div class="content col-xl-3 bgblack">
            <h3>PWA DEVELOPMENT</h3>
            <hr class="me-auto ms-auto">
        </div>
        
    </div>
</div>