<div class="container-fluid bgblack">
    <div class="row justify-content-around">
        <div class="col-3  wh-25 row align-items-center justify-content-center">
            <div >
                <h3 class="pb-3 text-white">GET IN TOUCH</h3>
                <a href="#" class="row active">
                    <i class="material-symbols-outlined aside-icons col-1">mail</i>
                    <span class="col-11" id="active-span" href="#">moatsememamgmail.com</span>
                </a>
                <a href="#" class="row active">
                    <i class="material-symbols-outlined aside-icons col-1">phone</i>
                    <span class="col-11" id="active-span" href="#">+201288885093</span>
                </a>

            </div>
        </div>
        <div class="col-3  wh-25 row align-items-center justify-content-center">
            <button class="btun btun-trans text-white w-50" >Contact Me</button>
        </div>
        <div class="col-3  wh-25 row align-items-center justify-content-center text-white">
            Copyright &copy;2019 KR
        </div>
    </div>
</div>