<div class="profile">
    <div class="details">
        <div class="col-4 text-center text-white">
            <h1>Moatsem Imam</h1>
            <p>Web Developer & Designer</p>
            <button class="btun btun-trans text-white" >Contact Me</button>

        </div>
    </div>
  </div>

  <div class="container pt-5 mb-5 ">
   <div class="row">

     <h1 class="h1-b col-4">About Me</h1>

     <div class="col-8">

       <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis modi
         quam ratione quae consectetur amet possimus iste voluptas ut esse
         expedita odio, enim aspernatur deleniti ab dolores debitis
         perferendis corrupti at ipsam laudantium totam perspiciatis
         necessitatibus. Voluptates qui nobis, dolorem ad repudiandae
         accusamus rerum natus voluptate corrupti quos placeat optio quia,
         soluta porro eum voluptas tempore a dolorum, tenetur saepe ratione
         suscipit. Obcaecati tenetur tempora, enim reprehenderit non soluta
         suscipit sequi eos cupiditate doloribus asperiores, recusandae vel
         veritatis modi tempore facilis odio doloremque, magni qui
         perferendis quibusdam numquam ipsa? Porro, praesentium voluptatum.
         Eaque soluta in consequuntur quidem ea labore quis.
       </p>
       <button class="btun b-non bgblack text-white" type="submit">
         Download Resume
       </button>

     </div>
   </div>
    
  </div>